<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Faculdade Impacta</title>
        <link rel="stylesheet" type="text/css" href="Sites.css"/>
    </head>
        <body>
        <header>
            <nav id="menu">
                <li>Home Page</li>
                <li>Listas de Cursos</li>
                <li>Detalhe de Curso</li>
                <li>Disciplina</li>
                <li>Notícias</li>
            </nav>

            {{{body}}}
     
        </header>
        <footer>

        </footer>


    </body>
</html>
